@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.FriendSystem
@using NHA.Website.Software.Services.SessionHistory
@using NHA.Website.Software.Services.Time
@using NHA.Website.Software.Services.RepositoryPatternFoundationals

@inject IFriendSystem _FriendSystem
@inject SignInManager<ApplicationUser> _SignInManager
@inject UserManager<ApplicationUser> _UserManager
@inject IActiveSessionTracker _SessionTracker
@inject ITimeBender _TimeBender
@inject IUnitOfWork _UnitOfWork
@{
    if (_SignInManager.IsSignedIn(User))
    {
        <div id="FriendListUI" class="col position-fixed border-start border-primary bg-light overflow-scroll w-inherit" style="height: 100%;">
            <div class="row m-auto pt-2 border-bottom border-primary">
                <div class="h3 text-center text-primary">Friends List</div>
            </div>

            @{
                var friends = await _FriendSystem.GetUsersFriendListAsync(_UserManager.GetUserId(User)!);
                Dictionary<ApplicationUser, string> onlineUsers = new Dictionary<ApplicationUser, string>();
                Dictionary<ApplicationUser, string> offlineUsers = new Dictionary<ApplicationUser, string>();


                foreach (var friend in friends)
                {
                    var lastSessionActivityDate = await _SessionTracker.GetUserLastActiveTime(friend);

                    if (lastSessionActivityDate.HasValue)
                    {
                        var minutesSinceLastActivity = (int)(DateTime.UtcNow - lastSessionActivityDate.Value).TotalMinutes;

                        if(minutesSinceLastActivity < 10)
                            onlineUsers.Add(friend, _TimeBender.GetTimeShortHandString(lastSessionActivityDate.Value));
                        else
                            offlineUsers.Add(friend, _TimeBender.GetTimeShortHandString(lastSessionActivityDate.Value));
                    }
                    else
                    {
                        offlineUsers.Add(friend, "offline");
                    }
                }
                
                <details class="row m-auto" open>
                    <summary>Online (@onlineUsers.Count)</summary>
                    @{
                        foreach (var friend in onlineUsers)
                        {
                            Random random = new Random();
                            int friendButtonIdNumber = random.Next();
                            var newMessages = await _UnitOfWork.ChatMessageRepository.GetNewMessageBetweenUsersAsync(friend.Key.Id, _UserManager.GetUserId(User)!);


                            <div class="row m-auto rounded-1 p-1 border-top border-bottom border-dark dropdown">
                                <button id="friend-dropdown-@friendButtonIdNumber" class="col btn btn-dark border-primary border bg-opacity-50 rounded-pill p-0" data-bs-toggle="dropdown" aria-expanded="false" friend-id="@friend.Key.Id ">
                                    <div class="col row bg-transparent m-auto text-decoration-none fl-click" friend-id="@friend.Key.Id" role="button">
                                        <div class="col-2 m-auto p-0">
                                            <img src="~/ProfilePictures/@friend.Key.ProfilePicturePath" friend-id="@friend.Key.Id" class="img-fluid col-12 rounded-start-pill bg-primary" />
                                        </div>
                                        <div class="col m-auto text-wrap text-truncate" friend-id="@friend.Key.Id">@friend.Key.DisplayName</div>
                                        <div class="col-auto m-auto bg-success rounded-pill" friend-id="@friend.Key.Id">@friend.Value</div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="friend-dropdown-@friendButtonIdNumber" style="z-index: 1002342442;">
                                    <li>
                                        <button id="OpenChat" class="dropdown-item open-chat" type="button" friend-id="@friend.Key.Id" )>
                                            <div class="row" friend-id="@friend.Key.Id">
                                                <div class="col" friend-id="@friend.Key.Id">Chat</div>

                                                @if (newMessages.Count > 0)
                                                {
                                                    <div id="Friend-chat-notification-counter-@friend.Key.Id" class="bg-danger rounded-circle col-2 m-auto p-1" friend-id="@friend.Key.Id">
                                                        <div class="text-center m-auto h5 text-white" friend-id="@friend.Key.Id">@newMessages.Count</div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="Friend-chat-notification-counter-@friend.Key.Id" class="bg-danger rounded-circle col-2 m-auto p-1" friend-id="@friend.Key.Id" style="display: none;">
                                                        <div class="text-center m-auto h5 text-white" friend-id="@friend.Key.Id">@newMessages.Count</div>
                                                    </div>
                                                }
                                            </div>
                                        </button>
                                    </li>
                                    <li><a class="dropdown-item" type="button" asp-controller="Users" asp-action="GetProfiles" asp-route-userId="@friend.Key.Id">Profile</a></li>
                                </ul>
                            </div>
                        }
                    }
                </details>
                <details class="row m-auto" open>
                    <summary>Offline (@offlineUsers.Count)</summary>
                    @{
                        foreach (var friend in offlineUsers)
                        {
                            Random random = new Random();
                            int friendButtonIdNumber = random.Next();
                            var newMessages = await _UnitOfWork.ChatMessageRepository.GetNewMessageBetweenUsersAsync(friend.Key.Id, _UserManager.GetUserId(User)!);


                            <div class="row m-auto rounded-1 p-1 border-top border-bottom border-dark dropdown">
                                <button id="friend-dropdown-@friendButtonIdNumber" class="col btn btn-dark border-primary border bg-opacity-50 rounded-pill p-0" data-bs-toggle="dropdown" aria-expanded="false" friend-id="@friend.Key.Id ">
                                    <div class="col row bg-transparent m-auto text-decoration-none fl-click" friend-id="@friend.Key.Id" role="button">
                                        <div class="col-2 m-auto p-0">
                                            <img src="~/ProfilePictures/@friend.Key.ProfilePicturePath" friend-id="@friend.Key.Id" class="img-fluid col-12 rounded-start-pill bg-primary" />
                                        </div>
                                        <div class="col m-auto text-wrap text-truncate" friend-id="@friend.Key.Id">@friend.Key.DisplayName</div>
                                        <div class="col-auto m-auto bg-primary rounded-pill" friend-id="@friend.Key.Id">@friend.Value</div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="friend-dropdown-@friendButtonIdNumber" style="z-index: 1002342442;">
                                    <li>
                                        <button id="OpenChat" class="dropdown-item open-chat" type="button" friend-id="@friend.Key.Id")>
                                            <div class="row" friend-id="@friend.Key.Id">
                                                <div class="col" friend-id="@friend.Key.Id">Chat</div>
                                                
                                                @if (newMessages.Count > 0)
                                                {
                                                    <div id="Friend-chat-notification-counter-@friend.Key.Id" class="bg-danger rounded-circle col-2 m-auto p-1" friend-id="@friend.Key.Id">
                                                        <div class="text-center m-auto h5 text-white" friend-id="@friend.Key.Id">@newMessages.Count</div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="Friend-chat-notification-counter-@friend.Key.Id" class="bg-danger rounded-circle col-2 m-auto p-1" friend-id="@friend.Key.Id" style="display: none;">
                                                        <div class="text-center m-auto h5 text-white" friend-id="@friend.Key.Id">@newMessages.Count</div>
                                                    </div>
                                                }

                                            </div>
                                        </button>
                                    </li>
                                    <li><a class="dropdown-item" type="button" asp-controller="Users"  asp-action="GetProfiles" asp-route-userId="@friend.Key.Id">Profile</a></li>
                                </ul>
                            </div>
                        }
                    }
                </details>
            }
        </div>
    }
    else
    {
        <div class="text-primary position-fixed m-auto h5 top-50 align-content-center align-items-center">
            <p class="text-center mx-5">
                Login to show friends
            </p>
        </div>
    }
}