@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.AccessWarden
@using NHA.Website.Software.Services.FriendSystem

@inject UserManager<ApplicationUser> UserManager
@inject IFriendSystem FriendSystem
@inject IWarden Warden
@inject SignInManager<ApplicationUser> SignInManager

<!--Navigation Bar-->
<nav class="navbar navbar-expand-sm border-bottom bg-body-tertiary box-shadow fixed-top p-0">
    <div class="container-fluid m-0 p-0" style="width: 100%; height: auto;">

        <button class="navbar-toggler btn-dark interactable" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size:2rem; padding:1rem; min-width: 100px;">
            <i class="bi bi-pentagon text-success"></i>
        </button>

        <button class="navbar-toggler btn-dark interactable" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size:2rem; padding:1rem; min-width: 100px;">
            <i class="bi bi-pentagon text-success"></i>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item align-self-center interactable w-100 w-sm-auto"><a class="nav-link btn-dark text-light rounded-2 h5 m-0 d-block text-center text-nowrap" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <feature name="@FeatureFlags.AnimeEnabled">
                    <li class="nav-item dropdown align-self-center w-100 w-sm-auto interactable">
                        <a class="nav-link dropdown-toggle btn-dark text-light rounded-2 h5 m-0 d-block text-center"
                           href="#"
                           id="animeDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Anime
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center rounded-2" aria-labelledby="animeDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Index">Wiki</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Roll">HypeRoll</a>
                            </li>

                        </ul>
                    </li>

                </feature>
                <feature name="@FeatureFlags.GameWikiEnabled">
                    <li class="nav-item align-self-center interactable w-100 w-sm-auto"><a class="nav-link btn-dark text-light rounded-2 h5 m-0 d-block text-center text-nowrap" asp-area="" asp-controller="Game" asp-action="Index">Game Wiki</a></li>
                </feature>

                <feature name="@FeatureFlags.ForumsEnabled">
                    <li class="nav-item align-self-center interactable w-100 w-sm-auto"><a class="nav-link btn-dark text-light rounded-2 h5 m-0 d-block text-center text-nowrap" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a></li>
                </feature>

                <feature name="@FeatureFlags.CryptoEnabled">
                    <li class="nav-item align-self-center interactable w-100 w-sm-auto"><a class="nav-link btn-dark text-light rounded-2 h5 m-0 d-block text-center text-nowrap" asp-area="" asp-controller="Crypto" asp-action="Index">Crypto</a></li>
                </feature>

                @if (Warden.IsAdmin(User))
                {
                    <li class="nav-item align-self-center interactable w-100 w-sm-auto">
                        <a class="nav-link btn-dark text-light rounded-2 h5 m-0 d-block text-center text-nowrap" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
                    </li>
                }

                <li class="nav-item dropdown align-self-center interactable w-100 w-sm-auto">
                    <a class="nav-link dropdown-toggle btn-dark text-light rounded-2 h5 m-0 d-block text-center" id="themeDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Theme
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href="#" onclick="setTheme('light')">Light Mode</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="setTheme('dark')">Dark Mode</a>
                        </li>
                    </ul>
                </li>

                @{
                    //Returns IEnumerable list of all pending FriendRequestDTOs
                    var requests = await FriendSystem.GetPendingFriendRequestsAsync(UserManager.GetUserId(User)!);

                    if (SignInManager.IsSignedIn(User))
                    {

                        <li class="align-self-center nav-item interactable">
                            <button type="button" class="btn btn-dark position-relative d-flex align-items-center justify-content-center p-2 rounded" data-bs-toggle="modal" data-bs-target="#friendRequestModal" style="min-width:50px; min-height:50px;">
                                <img id="notificationBellIcon" src="~/Images/Bell_Icon.png" alt="notification icon image" class="img-fluid rounded-2" style="width:32px; height:32px;">
                                <span id="FriendRequestCounter" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-primary">
                                    @requests.Count()
                                </span>
                            </button>
                        </li>
                    }
                }
                <li class="nav-item align-self-center w-100 w-sm-auto"></li>

            </ul>
            @{ await Html.RenderPartialAsync("Navigation/_LoginPartial");}
        </div>
    </div>
</nav>

<!--Navigation Bar Friend Request Popup Modal-->
@if (User.Identity!.IsAuthenticated)
{
    <div class="container-fluid ">
        <div class="row align-items-center bg-primary">
            <!--Friend Requests Modal-->
            <div class="modal fade" id="friendRequestModal" tabindex="-1" role="dialog" aria-labelledby="friendModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom">
                            <h5 class="modal-title" id="friendModalLabel">Friend Requests</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @foreach (var item in @requests)
                            {
                                <div class="row border-bottom p-2" friend-request-id="@item.Id">
                                    <div class="col-2">
                                        <img src="~/ProfilePictures/@item.SenderUser!.ProfilePicturePath" class="img-fluid" />
                                    </div>
                                    <p class="col-auto"><a href="~/Users/GetProfiles?userId=@item.SenderUser.Id">@item.SenderUser.DisplayName</a> wants to be your friend!</p>
                                    <div class="col-2">
                                        <button class="accept-friend-request-btn btn-dark col-auto" request-id="@item.Id">Accept</button>
                                        <button class="decline-friend-request-btn btn-dark col-auto" request-id="@item.Id">Decline</button>
                                    </div>
                                </div>

                            }
                            @if (!requests.Any())
                            {
                                <div>
                                    No more friend requests! Go add more people! :)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
}