@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHA.Website.Software.Services.RepositoryPatternFoundationals
@model NHA.Website.Software.Entities.Anime.AnimePage
@inject IUnitOfWork UnitOfWork;

@{
    ViewData["Title"] = @Model.AnimeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Model.AnimeName</h2>
    <hr />
    
    @{
        if (@Model.AnimeImageUrl != null)
        {
            <div>
                <img src="@Model.AnimeImageUrl" class="img-fluid"/>
            </div>
        }

        if (@Model.AnimeJikanScore != null)
        {
            <div>Jikan Score: <strong>@Model.AnimeJikanScore</strong></div>
        }
        if (@Model.AnimeStatus != null)
        {
            <div>Airing Status: <strong>@Model.AnimeStatus</strong></div>
        }
        if (@Model.AnimeGenres != null)
        {
            var genres = @Model.AnimeGenres.Split(';');

            for (int i = 0; i < genres.Length; i++)
            {
                if (i % 2 == 0)
                {
                    <span class="badge text-bg-dark">@genres[i]</span>
                }
                else
                {
                    <span class="badge text-bg-primary">@genres[i]</span>
                }
            }
        }
    }
    
    
    @{

        if (!string.IsNullOrEmpty(Model.AnimeSummary))
        {
            <h4 class="fw-semibold">Synopsis</h4>
            <div class="AnimeSummary">
                @Html.Raw(@Model.AnimeSummary)
            </div>

            <hr/>
        }

        if (!string.IsNullOrEmpty(Model.AnimeBackground))
        {
            <h4 class="fw-semibold">Background</h4>
            <div class="">
                @Html.Raw(@Model.AnimeBackground)
            </div>
        }
    }

</div>

@{
    var animePageCount = await UnitOfWork.AnimePageRepository.CountAsync(x => x.Id != null);

    var randomAnimeIndex = Random.Shared.Next(0, animePageCount);
    var animeList = await UnitOfWork.AnimePageRepository.GetAllAsync();
}
<div>
    <a asp-action="CreateAnimePage" asp-controller="Anime">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="AnimePageDetails" asp-route-id="@animeList.ElementAt(randomAnimeIndex).Id" asp-controller="Anime">Next &#x2794;</a>
</div>
