@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NHA.Website.Software.Entities.Anime.AnimePage

<div>
    <h2>@Model.AnimeName</h2>
    <hr />
    
    @{
        if (@Model.AnimeImageUrl != null)
        {
            <div>
                <img src="@Model.AnimeImageUrl" class="img-fluid"/>
            </div>
        }

        if (@Model.AnimeJikanScore != null)
        {
            <div>Jikan Score: <strong>@Model.AnimeJikanScore</strong></div>
        }
        if (@Model.AnimeStatus != null)
        {
            <div>Airing Status: <strong>@Model.AnimeStatus</strong></div>
        }
        if (@Model.AnimeGenres != null)
        {
            var genres = @Model.AnimeGenres.Split(';');

            for (int i = 0; i < genres.Length; i++)
            {
                if (i % 2 == 0)
                {
                    <span class="badge text-bg-dark">@genres[i]</span>
                }
                else
                {
                    <span class="badge text-bg-primary">@genres[i]</span>
                }
            }
        }
    }

    <div class="AnimeSummary">
        @Html.Raw(@Model.AnimeSummary)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
