@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NHA.Website.Software.Entities.Anime.AnimePage

<div>
    <h2>@Model.AnimeName</h2>
    <hr />
    
    @{
        if (@Model.AnimeImageUrl != null)
        {
            <div>
                <img src="@Model.AnimeImageUrl" class="img-fluid"/>
            </div>
        }
    }

    <div class="AnimeSummary">
        @Html.Raw(@Model.AnimeSummary)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
