@using Microsoft.IdentityModel.Tokens
@using NHA.Website.Software.Services.RepositoryPatternFoundationals
@using NuGet.Packaging
@inject IUnitOfWork unitOfWork;

@{
    ViewData["Title"] = "Anime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var allAnime = await unitOfWork.AnimePageRepository.GetAllAsync();
    var animePageCount = 0;
    HashSet<string> allGenres = [];

    foreach (var anime in allAnime)
    {
        if (anime.AnimeGenres is not null)
        {
            var genres = anime.AnimeGenres.Split(';');
            allGenres.AddRange(genres);
        }
        animePageCount++;
    }


    HashSet<string> allPlatforms = [];
    foreach (var anime in allAnime)
    {
        if (!string.IsNullOrEmpty(anime.Platforms))
        {
            var platforms = anime.Platforms.Split(';');
            allPlatforms.AddRange(platforms);
        }
    }

    var randomAnime = await unitOfWork.AnimePageRepository.GetRandomEntityAsync();
}

<head>
    <link rel="stylesheet" href="css/AnimePages.css">
</head>

<div>
    <h2>Alphabetical Anime Index <em class=" h3 text-primary">(@animePageCount)</em></h2>
    
    <a asp-action="CreateAnimePage" asp-controller="Anime" class="interactable">Create Anime Entry</a> |
    <a asp-action="AnimePageDetails" asp-route-id="@randomAnime!.Id" asp-controller="Anime" class="interactable">Next &#x2794;</a>

    <p>Select one of the letters to be view all animes beginning with that letter. The animes will be listed in alphabetical order. </p>
    
    @{
        string alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        int letterCounter = 0;

        foreach (var letter in alphabet)
        {
            <a asp-action="LetterDetail" asp-controller="Anime" asp-route-id="@letterCounter" class="link-primary index-letters interactable">@letter</a>
            letterCounter++;
        }

        <hr/>

        <h2 class="mt-4">Genres <em class=" h3 text-primary">(@allGenres.Count)</em></h2>

        var sorted = allGenres.Order();

        foreach (var animeGenre in sorted)
        {
            if (animeGenre.IsNullOrEmpty()) continue;
                <a asp-action="GenreIndex" asp-controller="Anime" asp-route-genre="@animeGenre" class="link-primary index-letters fs-3 interactable">@animeGenre</a>
        }

        <hr/>

        <h2 class="mt-4">Streaming Platforms <em class=" h3 text-primary">(@allPlatforms.Count)</em></h2>
        var sortedPlatforms = allPlatforms.Order();

        foreach (var platform in sortedPlatforms)
        {
            if (platform.IsNullOrEmpty()) continue;
            <a asp-action="PlatformIndex" asp-controller="Anime" asp-route-platform="@platform" class="link-primary index-letters fs-3 interactable">@platform</a>
        }

    }
</div>

