@model IEnumerable<NHASoftware.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>

<p><a asp-action="Create">Create Book</a></p>

<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="gridlink">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="gridlink">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="gridlink">Delete</a>
                <a asp-controller="BookAuthors" asp-action="AddBookAuthors"class="gridlink" asp-route-id="@item.Id">Add Book Authors</a>
            </td>
        </tr>
}ad
    </tbody>
</table>
