@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NHASoftware.ViewModels.ForumIndexViewModel

@{
    ViewData["Title"] = "Forums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="css/ForumStyles.css">
</head>


<h1>Forums</h1>

<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create" asp-controller="ForumSections" class="btn-dark">Add Forum Section</a>
        <a asp-action="Create" asp-controller="ForumTopics"class="btn-dark">Add Section Topic</a>
    }
</div>

<div class="modern-forum-index-header-text">
    <p>The ability to add, edit, and delete Forum Sections and topics is limited to admins & forum admins. To become an forum admin for NHA Forums please email nhaindustries@gmail.com with your account email and reasons why you should become forum admin. Alternatively if you are just interested in getting a topic or section added to the forum you can mention that in the email.</p>
    <p>Forum rules are extremely free. Free Speech is the only metric here. The only things that can't be posted about includes sexual assualt & violent crimes. Please respect these rules.</p>
</div>

<div>
    @{
        foreach (var section in @Model.ForumSections)
        {
            /************************************************************************************************************
             *  Creates <Detail> for each section. Also creates the table so that topics can be added to each section
             *  efficiently in javascript later.
             ***********************************************************************************************************/

            var name = section.Name;
            var id = section.Id;

            <details open class="forum-group">

                @if (User.IsInRole("forum admin") || User.IsInRole("admin"))
                {
                    <summary class="forum-stats">
                        <h2 class="forum-group__heading">@name</h2>
                        <div class="modern-section-actions">
                            <button class="btn-primary js-edit-section" section-id="@id">Edit Section</button>
                            <button class="btn-primary js-delete-section" section-id="@id">Delete Section</button>
                        </div>
                    </summary>
                }
                else
                {
                    <summary class="forum-stats">
                        <h2 class="forum-group__heading">@name</h2>
                    </summary>
                }



                <table id="@id" class="tableCustom">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

            </details>

        }
    }
</div>

@section Scripts
{
    <script src="~/Scripts/ForumIndexScript.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            //This script populates all ForumSection tables with the correct ForumTopics.

            var ForumsKV = JSON.parse('@Html.Raw(Json.Serialize(Model.Forums))');

            var arrayLength = ForumsKV.length;
            var keys = [];


            for (var i = 0; i < arrayLength; i++) {
                if (keys.includes(ForumsKV[i].key)) {

                } 
                else {
                    var table = $("#" + ForumsKV[i].key).DataTable();
                    keys.push(ForumsKV[i].key);
                }
            }

            for (var i = 0; i < arrayLength; i++) {

                var table2 = $("#" + ForumsKV[i].key).DataTable();
                var str = spacetime(ForumsKV[i].value.latestDate);
                var date2 = str.format('{month}-{date-pad}-{year} {time}{am pm}');

                //table2.row.add(["<article class='group-thread group-thread--rootview' data-id='" + ForumsKV[i].value.id + "'><a class='group-thread__link' href='/ForumTopics/Details/" + ForumsKV[i].value.id + "'><div class='group-thread__details'><h3 class='group-thread__heading'>" + ForumsKV[i].value.title + "</h3><p class='group-thread__summary'>" + ForumsKV[i].value.description + "</p></div><span class='forum-stat forum-stat--thread'>" + ForumsKV[i].value.threadCount + "</span><span class='forum-stat forum-stat--posts'>" + ForumsKV[i].value.postCount + "</span><span class='forum-stat forum-stat--latest'>" + date2 + "</span></a></article>"]).draw();

                table2.row.add(["<div class='modern-forum-post-container'> <a class='modern-thread-link' topic-id='" + ForumsKV[i].value.id + "'>" +
                                    "<div class='modern-forum-post-row-container'>" +
                                        "<div class='modern-forum-topic-title'>" + "<h3 class='modern-post-text'>" + ForumsKV[i].value.title + "</h3>" + "</div>" +
                                    "</div>" +
                                    "<div>" +
                                        "<p class='modern-formum-topic-summary'>" + ForumsKV[i].value.description + "</p>" +
                                    "</div>" +
                                    "<div class='modern-post-actions'>" +
                                        CheckForAdminButtons(ForumsKV[i]) +
                                        "<div class='modern-post-actions-like modern-post-action'>" +
                                            "<input type='image' src='/Images/ThreadIcon.png' class='modern-threads-picture js-thread-comment' comment-id='" + "commentid" + "'/>" +
                                            "<h3>" + ForumsKV[i].value.threadCount + "</h3>" +
                                        "</div>" +
                                        "<div class='modern-post-actions-like modern-post-action'>" +
                                            "<input type='image' src='/Images/PostIcon.png' class='modern-threads-picture js-thread-comment' comment-id='" + "commentid" + "'/>" +
                                            "<h3>" + ForumsKV[i].value.postCount + "</h3>" +
                                        "</div>" +
                                        "<div class='modern-post-action'>" +
                                            "<h5>" + "Latest Post: " + date2 + "</h5>" +
                                        "</div>" +
                                    "</div>" +
                    "</a></div>"]).draw();
            }




            function CheckForAdminButtons(data) 
            {
                @{
                    bool adminButtonsActive;
                    @if (User.IsInRole("admin") || User.IsInRole("forum admin"))
                    {
                        adminButtonsActive = true;
                    }
                    else
                    {
                        adminButtonsActive = false;
                    }
                }

                var adminButtons = JSON.parse('@Html.Raw(Json.Serialize(adminButtonsActive))');

                if (adminButtons === true) {
                    return "<div class='modern-post-action'>" +
                        "<button class='btn-dark js-edit-topic' topic-id='" +
                        data.value.id +
                        "'>Edit Topic</button>" +
                        "</div>" +
                        "<div class='modern-post-action'>" +
                        "<button class='btn-dark js-delete-topic' topic-id='" +
                        data.value.id +
                        "'>Delete Topic</button>" +
                        "</div>";
                } 
                else {
                    return "";
                }
            }

            $(".modern-thread-link").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumTopics/Details/" + button.attr("topic-id");
            });

            $(".js-edit-topic").on("click", function () {
                event.stopPropagation();
                var button = $(this);
                window.location.href = "/ForumTopics/edit/" + button.attr("topic-id");
            });

            $(".js-delete-topic").on("click", function () {
                event.stopPropagation();
                var button = $(this);
                window.location.href = "/ForumTopics/delete/" + button.attr("topic-id");
            });

            $(".js-edit-section").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumSections/edit/" + button.attr("section-id");
            });

            $(".js-delete-section").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumSections/delete/" + button.attr("section-id");
            });

        });

    </script>
    
}

