@inject IWarden _accessWarden
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHA.Website.Software.Services.AccessWarden
@model NHA.Website.Software.Views.ViewModels.ForumVMs.ForumIndexViewModel
@{
    ViewData["Title"] = "Forums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="css/Forums/ForumStyles.css">
    <script src="~/Scripts/Forums/ForumIndexScript.js" type="text/javascript"></script>
</head>


<div class="container-fluid">
    <div class="row h2">Forums</div>

    <div class="row">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" asp-controller="ForumSections" class="link-primary col-auto">AddAsync Forum Section</a>
            <a asp-action="Create" asp-controller="ForumTopics"class="link-primary col-auto">AddAsync Section Topic</a>
        }
    </div>

    <p>The ability to add, edit, and delete Forum Sections and topics is limited to admins & forum admins. To become an forum admin for NHA Forums please email nhaindustries@gmail.com with your account email and reasons why you should become forum admin. Alternatively if you are just interested in getting a topic or section added to the forum you can mention that in the email.</p>
    <p>Forum rules are extremely free. Free Speech is the only metric here. The only things that can't be posted about includes sexual assualt & violent crimes. Please respect these rules.</p>
</div>

<div class="container-fluid m-2">
    @{
        foreach (var section in @Model.ForumSections)
        {
            /************************************************************************************************************
             *  Creates <Detail> for each section. Also creates the table so that topics can be added to each section
             *  efficiently in javascript later.
             ***********************************************************************************************************/

            var name = section.Name;
            var id = section.Id;

            <details open class="row mb-2">

                @if (_accessWarden.IsForumAdmin(User))
                {
                    <summary class="border-bottom mb-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="h1 mb-0">@name</h2>
                            @if (_accessWarden.IsForumAdmin(User))
                            {
                                <div>
                                    <button class="btn btn-dark js-edit-section" section-id="@id">Edit Section</button>
                                    <button class="btn btn-primary js-delete-section" section-id="@id">Delete Section</button>
                                </div>
                            }
                        </div>
                    </summary>
                }
                else
                {
                    <summary class="border-bottom mb-2">
                            <h2 class="h1 mb-0">@name</h2>
                    </summary>
                }

                <table id="@id" class="tableCustom p-0 mw-100" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

            </details>

        }
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            //This script populates all ForumSection tables with the correct ForumTopics.

            var ForumsKV = JSON.parse('@Html.Raw(Json.Serialize(Model.Forums))');
            @{ bool adminButtonsActive = _accessWarden.IsForumAdmin(User) ? true : false; }
            var adminButtons = JSON.parse('@Html.Raw(Json.Serialize(adminButtonsActive))');

            InitializeForumIndexTables(ForumsKV, adminButtons);

            $(".modern-thread-link").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumTopics/Details/" + button.attr("topic-id");
            });

            $(".js-edit-topic").on("click", function () {
                event.stopPropagation();
                var button = $(this);
                window.location.href = "/ForumTopics/edit/" + button.attr("topic-id");
            });

            $(".js-delete-topic").on("click", function () {
                event.stopPropagation();
                var button = $(this);
                window.location.href = "/ForumTopics/delete/" + button.attr("topic-id");
            });

            $(".js-edit-section").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumSections/edit/" + button.attr("section-id");
            });

            $(".js-delete-section").on("click", function () {
                var button = $(this);
                window.location.href = "/ForumSections/delete/" + button.attr("section-id");
            });
        });
    </script>

}

