@using Microsoft.AspNetCore.Identity
@using NHASoftware.Entities.Identity
@using NHASoftware.Services.FriendSystem
@model NHASoftware.Views.ViewModels.SocialVMs.ProfileVM
@inject UserManager<ApplicationUser> userManager
@inject IFriendSystem friendSystem

@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css">
</head>

@{
    var friendCount = friendSystem.GetFriendCount(Model.User.Id);
    var mutualFriends = await friendSystem.GetMutualFriendsAsync(Model.User.Id, userManager.GetUserId(User));
    var mutualFriendCount = mutualFriends.Count();
}

<div class="container-fluid border border-primary">
    <div class="row">
        <div class="border-end border-primary col-4">
            <img class="img-fluid" src="~/ProfilePictures/@Model.User.ProfilePicturePath" alt="@Model.User.DisplayName's Profile Picture'"/>
        </div>
        <div class="col border-end border-bottom border-primary text-center">

            <div class="link-secondary h1">@friendCount Friends</div>
            
            @if (User.Identity.IsAuthenticated && !userManager.GetUserId(User).Equals(Model.User.Id))
            {

                <div class="border border-primary mb-2">
                    <div class="link-secondary h1 border-bottom border-primary">@mutualFriendCount Mutual Friends</div>
                    <div class="flex-wrap">
                        @{
                            var mutualFriendCounter = 0;
                            const int mutualFriendMax = 3;

                            foreach (var user in mutualFriends)
                            {
                                if (mutualFriendCounter < mutualFriendMax)
                                {
                                    <div class="d-flex border-bottom border-primary">
                                        <div class="text-center">
                                            <div class="col-2 m-auto">
                                                <img class="img-fluid" src="~/ProfilePictures/@user.ProfilePicturePath" href="" alt="@user.DisplayName's Profile Picture'"/>
                                            </div>
                                            <a class="link-secondary h3" href="/Users/GetProfiles?userId=@user.Id" role="button">@user.DisplayName</a>
                                        </div>
                                    </div>
                                    mutualFriendCounter++;
                                }
                                else
                                {
                                    //We hit the max amount of mutual friends within Profile Friend Container
                                }
                            }
                        }
                    </div>
                </div>
            }

        </div>
        <div class="col border-bottom border-primary">
            <h1 class="text-center h1">User Biography</h1>
            <div>This is a test biography that needs to be modified.This is a test biography that needs to be modified.
                This is a test biography that needs to be modified.This is a test biography that needs to be modified.</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col"></div>
                    <button class="btn-dark m-md-auto col-2">
                        edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="border border-3 border-danger col-md-4 align-self-center">
            <h2 class="text-center display-2">@Model.User.DisplayName</h2>
        </div>
        
        @{
            string isFriends = friendSystem.IsFriends(@Model.User.Id, @userManager.GetUserId(User)).ToString();
            string friendRequestSent = friendSystem.FriendRequestSent(@userManager.GetUserId(User), @Model.User.Id).ToString();
        }

        <div class="dropdown col-md-4 p-1 align-self-center" id="FriendRequestButton" recipientId="@Model.User.Id" senderId="@userManager.GetUserId(User)" isFriends="@isFriends" friendRequestSent="@friendRequestSent">
            @Html.AntiForgeryToken()
            <a class="btn btn-primary dropdown-toggle col-6 my-auto" href="#" role="button" id="FriendDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="FriendRequestIcon" src="~/Images/CheckMarkIcon.png" alt="FriendCheckMarkIcon" class=" col img-fluid"/>
                <div id="FriendDropdownText" class="d-inline-block">TEST VALUE</div>
            </a>
            <ul id="FriendRequestDropdownLinkContainer" class="dropdown-menu" aria-labelledby="FriendDropdown">
            </ul>
        </div>
    </div>
</div>
<div>
    <div id="SocialWall">
        
        <div class="container-fluid">
            <p class="text-center h1 mt-3">User's Wall</p>
        </div>
        
        <div id="ContentFeed" profile-user-id="@Model.User.Id">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Social_Feed/Gratitude.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.js"></script>
    <script src="~/Scripts/FriendSystem/FriendRequestButton.js"></script>
}
