@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.ConsumableEntities.DTOs
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Views.Shared.ChatSystem.ViewModels
@inject UserManager<ApplicationUser> _UserManager

@model NHA.Website.Software.Views.Shared.ChatSystem.ViewModels.ChatUIViewModel

@{
    var chatUUID = Guid.NewGuid();
}


<div class="col-3 border-start border-end border-top border-2 rounded-2 border-black pe-auto bg-body-tertiary p-0 ms-2 h-50 align-self-end" id="chs-@chatUUID" chs-container="@chatUUID" chs-recipient="@Model.Friend!.Id">
    <div class="row m-auto p-1 bg-dark bg-opacity-100 border-bottom border-1 border-black chat-header interactable-small" role="button">
        <div class="col-auto p-0 m-auto">
            <img class="img-fluid rounded-circle col-2 m-auto o-fit" alt="@Model.Friend.DisplayName's profile picture" src="~/ProfilePictures/@Model.Friend!.ProfilePicturePath"/>
            <a class="h6 text-center text-primary m-auto profile-link text-truncate col " role="button" userId="@Model.Friend.Id">@Model.Friend.DisplayName</a>
        </div>
        <div class="col p-0 text-wrap text-start text-truncate " >
            &nbsp;
        </div>
        <div class="col-auto m-auto dropdown">
            <button type="button" class="close close-chat" chs-uuid="@chatUUID" recipientId="@Model.Friend.Id">
                <span aria-hidden="true" chs-uuid="@chatUUID" class="h2 p-2 text-primary" recipientId="@Model.Friend.Id">&times;</span>
            </button>
            @{
                var dropdownId = $"chat-dropdown-{Guid.NewGuid()}-btn";
            }
            <a type="button" class="text-decoration-none interactable " id="@dropdownId" chs-uuid="@chatUUID" recipientId="@Model.Friend.Id" data-bs-toggle="dropdown"
               aria-expanded="false" onclick="event.stopPropagation();">
                <span aria-hidden="true" chs-uuid="@chatUUID" class="h2 p-2 dropdown" recipientId="@Model.Friend.Id">&#8943;</span>

            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-end text-center rounded-2" aria-labelledby="@dropdownId">
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Roll">Mute</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Roll">View Profile</a>
                </li>
                <hr class="m-0"/>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Roll">Delete Chat</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Roll">Report/Block</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Index">Manage Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row col m-auto p-3 justify-content-center mt-2" chs-body-uuid="@chatUUID">
        <div class="row mb-3 p-0 h-25 border-bottom border-primary border-2" >
            <div class="col text-wrap text-break p-2 chat-scroll-y" style="max-height: 20em; min-height: 20em" id="chs-messages-@chatUUID">
                
                @{
                    await Html.RenderPartialAsync("ChatSystem/_ChatUIMultiMessage", new ChatUIMultiMessage(Model.ChatMessages));
                }
            </div>
        </div>
        @{ await Html.RenderPartialAsync("ChatSystem/_ChatUIForm", new ChatMessageDTO()
           {
               RecipientUserId = Model.Friend.Id,
               SenderUserId = _UserManager.GetUserId(User),
               ChsUUID = @chatUUID
           });}
    </div>
</div>