@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.ConsumableEntities.DTOs
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Views.Shared.ChatSystem.ViewModels
@inject UserManager<ApplicationUser> _UserManager

@model NHA.Website.Software.Views.Shared.ChatSystem.ViewModels.ChatUIViewModel

@{
    var chatUUID = Guid.NewGuid();
}


<div class="col-3 border border-2 border-danger pe-auto bg-light p-0 ms-2 h-50" id="chs-@chatUUID" chs-container="@chatUUID" chs-recipient="@Model.Friend!.Id">
    <div class="row m-auto p-1 bg-dark bg-opacity-100 bg-gradient border-bottom border-3 border-danger mb-3">
        <div class="col-3 p-0 m-auto">
            <img class="img-fluid rounded-circle col-10 m-auto bg-black o-fit" src="~/ProfilePictures/@Model.Friend!.ProfilePicturePath"/>
        </div>
        <div class="col p-0 text-wrap m-auto text-center text-truncate">
            <a class="h6 text-center m-auto profile-link text-truncate col" role="button" userId="@Model.Friend.Id">@Model.Friend.DisplayName</a>
        </div>
        <div class="col-auto m-auto">
            <button type="button" class="close close-chat" chs-uuid="@chatUUID" recipientId="@Model.Friend.Id">
                <span aria-hidden="true" chs-uuid="@chatUUID" class="h2" recipientId="@Model.Friend.Id">&times;</span>
            </button>
        </div>
    </div>
    <div class="row col m-auto p-3 justify-content-center" chs-body-uuid="@chatUUID">
        <div class="row mb-3 p-0 h-25 border-bottom border-primary border-2" >
            <div class="col text-wrap text-break p-2 chat-scroll-y" style="max-height: 20em; min-height: 20em" id="chs-messages-@chatUUID">
                
                @{
                    await Html.RenderPartialAsync("ChatSystem/_ChatUIMultiMessage", new ChatUIMultiMessage(Model.ChatMessages));
                }
            </div>
        </div>
        @{ await Html.RenderPartialAsync("ChatSystem/_ChatUIForm", new ChatMessageDTO()
           {
               RecipientUserId = Model.Friend.Id,
               SenderUserId = _UserManager.GetUserId(User),
               ChsUUID = @chatUUID
           });}
    </div>
</div>