@using Microsoft.IdentityModel.Tokens
@using NHA.Website.Software.Services.RepositoryPatternFoundationals
@using NuGet.Packaging
@model NHA.Website.Software.Views.Game.Vms.IndexViewModel
@inject IUnitOfWork unitOfWork

@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="css/AnimePages.css">
</head>

@{
    HashSet<string> allGenres = [];
    var gamePageCount = 0;
    HashSet<string> allPlatforms = [];

    foreach (var game in Model.GameList)
    {
        if (game.Genres is not null)
        {
            var genres = game.Genres.Split(';');
            allGenres.AddRange(genres);
        }

        if (game.Platforms is not null)
        {
            var platform = game.Platforms.Split(';');
            allPlatforms.AddRange(platform);
        }

        gamePageCount++;
    }

    var randomGame = await unitOfWork.GamePageRepository.GetRandomEntityAsync();
}

<div>
    <h2>Alphabetical Game Index <em class=" h3 text-primary">(@gamePageCount)</em></h2>
    
    <a asp-action="CreateAnimePage" asp-controller="Anime" class="interactable">Create Game Entry</a> | 
    <a asp-action="GamePage" asp-route-id="@randomGame!.Id" asp-controller="Game" class="interactable">Next &#x2794;</a>
    <p>Select one of the letters to be view all games beginning with that letter. The games will be listed in alphabetical order. </p>
    
    @{
        string alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        int letterCounter = 0;

        foreach (var letter in alphabet)
        {
            <a asp-action="LetterDetail" asp-controller="Game" asp-route-id="@letterCounter" class="link-primary index-letters interactable">@letter</a>
            letterCounter++;
        }
        <hr/>

        <h2 class="mt-4">Genres <em class=" h3 text-primary">(@allGenres.Count)</em></h2>
        var sorted = allGenres.Order();

        foreach (var genre in sorted)
        {
            if (genre.IsNullOrEmpty()) continue;
            <a asp-controller="Game" asp-action="GenreIndex" asp-route-genre="@genre" class="link-primary index-letters fs-3 interactable">@genre</a>
        }

        <hr/>

        <h2 class="mt-4">Console Platforms <em class=" h3 text-primary">(@allPlatforms.Count)</em></h2>
        var sortedPlatforms = allPlatforms.Order();

        foreach (var platform in sortedPlatforms)
        {
            if (platform.IsNullOrEmpty()) continue;
            <a asp-action="PlatformIndex" asp-controller="Game" asp-route-platform="@platform" class="link-primary index-letters fs-3 interactable">@platform</a>
        }
    }
</div>
