@model NHASoftware.ViewModels.ForumPostDetailModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ForumStyles.css">
</head>

<div>
    <a asp-controller="ForumComments" asp-area="" asp-action="Create" asp-route-id="@Model.ForumPost.Id" class=" btn-primary btn-dark btn-link">Create Comment</a>
    <hr />
</div>


<div class="main">
        @{
            var id = @Model.ForumPost.Id;
            string profilePicture = "~/ProfilePictures/" + Model.ForumPost.User.ProfilePicturePath;
        }
        
        <div class="modern-forum-post-container">
            <div class="modern-forum-post-row-container">
                <div class="modern-post-profile">
                    <div class="modern-post-profile-picture-container">
                        <img src="@Url.Content(profilePicture)" class="modern-post-profile-picture"/>
                    </div>
                    <div class="modern-post-profile-displayname">
                        @Model.ForumPost.User.DisplayName
                    </div>
                </div>
                <div class="modern-post-details">
                    <h2 class="modern-post-title">@Model.ForumPost.Title</h2>
                    <p class="modern-post-text">@Model.ForumPost.ForumText</p>
                </div>
            </div>
            <div class="modern-post-actions">
                <div class="modern-post-action">
                    <h3 id="PostDate"></h3>
                </div>
                <div class="modern-post-actions-like modern-post-action">
                    <input type="image" src="~/Images/LikeIcon.png" class="modern-post-action-like-picture" post-id="@id"/>
                    <h3>@Model.ForumPost.LikeCount</h3>
                </div>

                <div class="modern-post-action">
                    <button class="btn-primary btn-link" id="EditPost" post-id="@id">Edit Post</button>
                </div>
                <div class="modern-post-action">
                    <button class="btn-primary btn-link" id="DeletePost" post-id="@id">Delete Post</button>
                </div>
            </div>
        </div>

    <br />
    
    <table id="CommentsTable" class="tableCustom">
        <thead>
        <tr>
            <th>Comments</th>
        </tr>
        </thead>
    </table>
</div>



@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {


                var post = JSON.parse('@Html.Raw(Json.Serialize(Model.ForumPost))');
                var str2 = spacetime(post.creationDate);
                var date2 = str2.format('{month} {date-pad} {year} {time}{am pm}');

                $("#PostDate").text(date2);

            function LoadCommentsTable() {

                var comments = JSON.parse('@Html.Raw(Json.Serialize(Model.ForumComments))');
                var arrayLength = comments.length;

                var commentsTable = $("#CommentsTable").DataTable({
                    "columns": [
                        null
                    ]
                });

                for (var i = 0; i < arrayLength; i++) {
                    var str = spacetime(comments[i].creationDate);
                    var date = str.format('{month} {date-pad} {year} {time}{am pm}');


                    var commentPicture = "/ProfilePictures/" + comments[i].user.profilePicturePath;


                    commentsTable.row.add( ["<div class='modern-forum-post-container'>" +
                                                "<div class='modern-forum-post-row-container'>" +
                                                    "<div class='modern-post-profile'>" +
                                                        "<div class='modern-post-profile-picture-container'>" +
                                                            "<img src='" + commentPicture + "' class='modern-comment-profile-picture'/>" +
                                                        "</div>" +
                                                            "<div class='modern-post-profile-displayname'>" + comments[i].user.displayName + "</div>" +
                                                    "</div>" +
                                                        "<div class='modern-post-details'>" + "<p class='modern-post-text'>" + comments[i].commentText + "</p>" + "</div>" +
                                                        "</div>" +
                                                "<div class='modern-post-actions'>" +
                        "<div class='modern-post-action'>" +
                            "<h3 >" + date + "</h3>" +
                        "</div>" +
                        "<div class='modern-post-actions-like modern-post-action'>" +
                        "<input type='image' src='/Images/LikeIcon.png' class='modern-post-action-like-picture js-like-comment' comment-id='" + comments[i].id + "'/>" +
                        "<h3>" + comments[i].likeCount + "</h3>" +
                        "</div>" +
                        "<div class='modern-post-action'>" +
                        "<button class='btn-primary btn-link js-edit-comment' comment-id='" + comments[i].id + "'>Edit Comment</button>" +
                        "</div>" +
                        "<div class='modern-post-action'>" +
                        "<button class='btn-primary btn-link js-delete-comment' comment-id='" + comments[i].id + "'>Delete Comment</button>" +
                        "</div>" +
                        "</div>" +
                        "</div>"] ).draw();

                }
            }

            LoadCommentsTable();

            $("#CommentsTable").on("click", ".js-like-comment", function () {

                var button = $(this);

                $.ajax ({ 
                    url: "/api/Like/Comment/" + button.attr("comment-id"),
                    method: "PUT",
                    success: function (data) {
                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#CommentsTable").on("click", ".js-delete-comment", function () {

                var button = $(this);

                $.ajax ({
                    url: "/api/ForumComments/" + button.attr("comment-id"),
                    method: "DELETE",
                    success: function (data) {

                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#CommentsTable").on("click", ".js-edit-comment", function () {

                var button = $(this);
                window.location.href = "/ForumComments/edit/" + button.attr("comment-id");
            });


            $(".modern-post-action-like-picture").on("click", function () {

                var button = $(this);

                $.ajax({
                    url: "/api/Like/post/" + button.attr("post-id"),
                    method: "PUT",
                    success: function (data) {
                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#EditPost").on("click", function () {

                var button = $(this);
                window.location.href = "/ForumPosts/edit/" + button.attr("post-id");
            });

            $("#DeletePost").on("click", function () {

                var button = $(this);
                window.location.href = "/ForumPosts/Delete/" + button.attr("post-id");
            });





        });


    </script>

}
