@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.AccessWarden
@model NHA.Website.Software.Views.ViewModels.ForumVMs.ForumPostDetailModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IWarden AccessWarden
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Forums/ForumStyles.css">
    <script src="~/Scripts/Forums/ForumPostDetails.js"></script>
</head>

<div>
    <a asp-controller="ForumComments" asp-area="" asp-action="Create" asp-route-id="@Model.ForumPost.Id" class=" btn-primary btn-dark btn-link">Create Comment</a>
    <hr />
</div>


<div class="main">
        @{
            var id = @Model.ForumPost.Id;
            string profilePicture = "~/ProfilePictures/" + Model.ForumPost.User!.ProfilePicturePath;
            string forumPostText = Model.ForumPost.ForumText;
        }
        
        
        <div class="container-fluid modern-forum-post-container rounded-3 p-4">
            <div class="row align-items-center">
                <div class="col-3 align-self-start border border-danger border-2 rounded-pill p-2 me-4">
                    <div class="row col m-auto">
                        <img src="@Url.Content(profilePicture)" class="img-fluid rounded-pill col-10 m-auto"/>
                    </div>
                    <div class="row h2 text-center text-magenta">
                         <div>@Model.ForumPost.User.DisplayName</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-content-center">
                        <div class="h1 text-center text-danger">@Model.ForumPost.Title</div>
                    </div>
                    <div class="row text-cyan text-center">@Html.Raw(forumPostText)</div>
                </div>
            </div>
            <div class="row m-auto">
                <div class="col-auto">
                    <h3 id="PostDate"></h3>
                </div>
                <div class="col-auto">
                    <div class="row align-content-center">
                        <div class="col-2">
                            <input type="image" src="~/Images/LikeIcon.png" class="img-fluid" post-id="@id"/>
                        </div>
                        <h3 class="col-auto">@Model.ForumPost.LikeCount</h3>
                    </div>
                </div>
                @{
                    var user = await UserManager.GetUserAsync(User);
                    if (SignInManager.IsSignedIn(User) && user!.Id == Model.ForumPost.UserId)
                    {
                        <div class="col-auto">
                            <button class="btn-dark" id="EditPost" post-id="@id">Edit Post</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn-dark" id="DeletePost" post-id="@id">Delete Post</button>
                        </div>
                    }
                }

            </div>
        </div>

    <br />
    
    <table id="CommentsTable" class="tableCustom" width="100%">
        <thead>
        <tr>
            <th>Comments</th>
        </tr>
        </thead>
    </table>
</div>



@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {


            var post = JSON.parse('@Html.Raw(Json.Serialize(Model.ForumPost))');
            var str2 = spacetime(post.creationDate);
            var date2 = str2.format('{month} {date-pad} {year} {time}{am pm}');

            $("#PostDate").text(date2);

            var comments = JSON.parse('@Html.Raw(Json.Serialize(Model.ForumComments))');

            @{
                string userId = UserManager.GetUserId(User)!;
                bool adminUser = AccessWarden.IsForumAdmin(User);
            }

            var userIdString = JSON.parse('@Html.Raw(Json.Serialize(userId))');
            var adminUserBool = JSON.parse('@Html.Raw(Json.Serialize(adminUser))');

            LoadCommentsTable(comments, userIdString, adminUserBool);

            $("#CommentsTable").on("click", ".js-like-comment", function () {

                var button = $(this);

                $.ajax ({ 
                    url: "/api/Like/Comment/" + button.attr("comment-id"),
                    method: "PUT",
                    success: function (data) {
                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#CommentsTable").on("click", ".js-delete-comment", function () {

                var button = $(this);

                $.ajax ({
                    url: "/api/ForumComments/" + button.attr("comment-id"),
                    method: "DELETE",
                    success: function (data) {

                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#CommentsTable").on("click", ".js-edit-comment", function () {

                var button = $(this);
                window.location.href = "/ForumComments/edit/" + button.attr("comment-id");
            });


            $(".modern-post-action-like-picture").on("click", function () {

                var button = $(this);

                $.ajax({
                    url: "/api/Like/post/" + button.attr("post-id"),
                    method: "PUT",
                    success: function (data) {
                        if (data.success) {
                            console.log("Successfully sent to api");
                            window.location.reload();
                        }
                    }
                });
            });

            $("#EditPost").on("click", function () {

                var button = $(this);
                window.location.href = "/ForumPosts/edit/" + button.attr("post-id");
            });

            $("#DeletePost").on("click", function () {

                var button = $(this);
                window.location.href = "/ForumPosts/Delete/" + button.attr("post-id");
            });
        });

    </script>

}
