@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.AccessWarden
@model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
@inject UserManager<ApplicationUser> _UserManager
@inject IWarden _Warden

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="dropstart">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropstartMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/Images/options.png" class="img-fluid"/>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropstartMenuButton" style="">
        <li><h6 class="dropdown-header">Actions</h6></li>
        <li><hr class="dropdown-divider"></li>
        @{
            bool isCommentBool = Model.ParentPostId != null;
            var userId = await _UserManager.GetUserAsync(User) != null ? (await _UserManager.GetUserAsync(User))!.Id : "-1";

            bool isLoggedInUsersPost = (@Model.User!.Id == userId);

            if (isLoggedInUsersPost || _Warden.IsAdmin(User))
            {
                <li>
                    <a class="dropdown-item delete-post-link" post-id="@Model.Id" is-comment="@isCommentBool.ToString()">Delete Post</a>
                </li>
                <li>
                    <a class="dropdown-item hide-post-link" post-id="@Model.Id" is-comment="@isCommentBool.ToString()">Hide Post</a>
                </li>
                <li>
                    <a class="dropdown-item report-post-link" post-id="@Model.Id" is-comment="@isCommentBool">Report Post</a>
                </li>
            }
        }

    </ul>
</div>


