@model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var likeSrcImage = (Model.UserLikedPost ? "/images/facebook-like-filled.png" : "/images/facebook-like.png");
    var dislikeSrcImage = (Model.UserDislikedPost ? "/images/dislike-Filled.png" : "/images/dislike_remake.png");
}

<div class="col mt-2">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto me-2" like-counter-post-id="@Model.Id">@Model.LikeCount</div>
                <div class="col-sm-6">
                    <img class="post-like img-fluid interactable" role="button" post-id="@Model.Id" src="@likeSrcImage"/>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto me-2" dislike-counter-post-id="@Model.Id">@Model.DislikeCount</div>
                <div class="col-sm-6">
                    <img class="post-dislike img-fluid interactable" role="button" post-id="@Model.Id" src="@dislikeSrcImage"/>
                </div>
            </div>
        </div>
    </div>
</div>