@using Microsoft.AspNetCore.Identity
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.AccessWarden
@model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
@inject UserManager<ApplicationUser> _UserManager
@inject IWarden _Warden

@{
    bool isCommentBool = Model.ParentPostId != null;
    var userId = (await _UserManager.GetUserAsync(User))?.Id ?? "-1";
    bool isLoggedInUsersPost = Model.User!.Id == userId;

    if (User.Identity!.IsAuthenticated)
    {
        <div class="dropstart">
            <button class="btn btn-link p-0 border-0 interactable" type="button" id="postMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical fs-5 text-muted"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-sm shadow-sm border-0" aria-labelledby="postMenuButton">
                @if (isLoggedInUsersPost || _Warden.IsAdmin(User))
                {
                    <li>
                        <a class="dropdown-item delete-post-link"
                           post-id="@Model.Id"
                           is-comment="@isCommentBool.ToString()"
                           uuid="@Model.UUID">
                            Delete
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item hide-post-link"
                       post-id="@Model.Id"
                       is-comment="@isCommentBool.ToString()"
                       uuid="@Model.UUID">
                        Hide
                    </a>
                </li>
                <li>
                    <a class="dropdown-item report-post-link"
                       post-id="@Model.Id"
                       is-comment="@isCommentBool"
                       uuid="@Model.UUID">
                        Report
                    </a>
                </li>
            </ul>
        </div>
    }
}
