@using HtmlAgilityPack
@using Microsoft.AspNetCore.Identity
@using Microsoft.IdentityModel.Tokens
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.Services.Social.PostBuilderService
@using NHA.Website.Software.Services.Time
@model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
@inject SignInManager<ApplicationUser> _SignInManager
@inject ITimeBender _TimeBender
@inject IPostBuilder _PostBuilder

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Model.UUID = Guid.NewGuid();
    string uuid = Model.UUID.Value.ToString();
}

<div class="container-fluid border border-2 shadow border-primary ridge rounded-2 mt-2 post-container" post-id="@Model.Id" images-attached="@Model.HasImagesAttached.ToString()" images-loaded="false" post-uuid="@uuid.ToString()" post-container-id="@Model.Id">
    <div class="row align-items-center mt-2">
        <!--User Profile image & display name-->
        <div class="col-auto px-2">
            <a asp-controller="Users" asp-action="GetProfiles" asp-route-userId="@Model.User!.Id">
                <img src="/ProfilePictures/@Model.User!.ProfilePicturePath" class="img-thumbnail avatar interactable" alt="@Model.User!.DisplayName Profile Picture"/>
            </a>
        </div>
        <div class="col-auto">
            <a class="h5 text-decoration-none profile-link fw-semibold interactable" role="button" userId="@Model.UserId">@Model.User!.DisplayName</a>
            <div class="">
                <a class="text-decoration-none" role="button">@_TimeBender.GetTimeShortHandString(@Model.CreationDate!.Value)</a>
            </div>
        </div>
        <div class="col">
        </div>
        <!--Post Action dropdown-->
        <div class="col-auto p-0">
            @{
                await Html.RenderPartialAsync("Social/_PostActionButtonSection", @Model);
                bool isCommentBool = Model.ParentPostId != null;
            }
        </div>
        <div class="col-auto p-0 me-4">
            <a class="btn btn-sm border-0 bg-transparent text-muted fs-5 interactable hide-post-link">
                <i class="bi bi-x-lg " post-id="@Model.Id" title="Hide"
                   is-comment="@isCommentBool.ToString()"
                   uuid="@Model.UUID"></i>
            </a>
        </div>

    </div>
    @*     <div class="row">
        <div class="col-sm-1 px-0"></div>
        <div class="col">
            <div class="h4 text-primary">Summary</div>
        </div>
    </div> *@

    <!--Posts summary section. Text content is posted here-->
    <div class="row text-break mb-2 ">
        <div class="col pt-2">
            <div class="col">
                @{
                    var doc = new HtmlDocument();
                    doc.LoadHtml(@Model.Summary);

                    IEnumerable<string> taggedObjectHref = [];
                    IEnumerable<string> taggedObjectImages = [];

                    if (Model.Summary.Contains("image-url"))
                    {
                        taggedObjectHref = doc.DocumentNode.SelectNodes("//a")
                            .Select(a => a.GetAttributeValue("href", ""));
                        taggedObjectImages = doc.DocumentNode.SelectNodes("//a")
                            .Select(a => a.GetAttributeValue("image-url", ""));

                    }
                    var objectHref = taggedObjectHref as string[] ?? taggedObjectHref.ToArray();
                    var objectImages = taggedObjectImages as string[] ?? taggedObjectImages.ToArray();

                    <div class="row p-1">
                        @Html.Raw(Model.Summary)
                    </div>

                    if (objectImages.Any())
                    {
                        <div class="row rounded-2">
                            @{
                                var counter = 0;
                                foreach (var imageUrl in objectImages)
                                {
                                    if(imageUrl.IsNullOrEmpty()) continue;
                                    <div class="col">
                                        <a class="row text-center m-auto rounded-2 interactable" href="@objectHref[counter]">
                                            <img src="@imageUrl" class="rounded-3 p-0" alt="Post Tag ImageUrl" />
                                        </a>
                                    </div>

                                    counter++;
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row text-break">
        <div unique-image-section="@uuid" class="col">
            <div id="Image-Carousel-@uuid" class="carousel slide border border-white" data-bs-interval="false" style="display: none">
                <div class="carousel-inner" id="Image-Carousel-Inner-@uuid">
                </div>
                <button class="carousel-control-prev bg-black" type="button" data-bs-target="#Image-Carousel-@uuid" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-black" type="button" data-bs-target="#Image-Carousel-@uuid" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--Posts Likes & Comment Show section-->
    <div class="row align-items-center m-2">
        <div class="col-auto me-2">
            @{
                var commentCount = await _PostBuilder.GetCommentCountForPost(@Model.Id);
            }

            <a class="text-nowrap hide-comments interactable" comment-count="@commentCount" unique-post-id="@uuid.ToString()" post-id="@Model.Id" role="button">Show Comments (@await _PostBuilder.GetCommentCountForPost(@Model.Id))</a>
        </div>
        @{ await Html.RenderPartialAsync("Social/_PostLikeSection", @Model); }
    </div>

    <hr />


    <div unique-comment-section="@uuid.ToString()" style="display: none">

        @if(commentCount > 0)
        {
            <h2 class="text-primary h5 text-center">Comments</h2>
        }

        <ul unique-comment-list="@uuid.ToString()" class="list-unstyled">
        </ul>
        <form method="post" enctype="multipart/form-data" comment-form-uuid="@uuid.ToString()">
            @{
                if (_SignInManager.IsSignedIn(User))
                {
                    <div class="row mb-2">
                        <div class="col-2"></div>
                        <div class="col-6">
                            <textarea class="summernote-comments text-black" post-id="@Model.Id" comment-textbox-uuid="@uuid.ToString()" name="Summary">
                            </textarea>
                        </div>
                        <button class="btn btn-dark rounded-2 col-auto comment-send-btn interactable" unique-identifier="@uuid.ToString()" parent-post-id="@Model.Id">Reply</button>
                    </div> 
                }
            }
        </form>
    </div>
    <span unique-error-identifier="@uuid.ToString()" data-testid="post-error-message" style="display: none;" class="text-primary">Error Submitting Post.....</span>
</div>