@model NHASoftware.ViewModels.AssignAuthorViewModel

<h4>Assign Author To Book</h4>
<hr />

<body>
<div>
    
    <!--For loop that loops through all possible Authors-->
    
    <div id="book" value="@Model.BookId"></div>
    
    <table id="AuthorSelectionTable" class="table table-bordered table-hover">

        @foreach (var author in @Model.Authors)
        {
            var checkBoxId = "chk" + author.Name;
            var tdId = "td" + author.Id;

            <tr>
                <td width="20%"><input type="checkbox" id="@checkBoxId" class="form-check" value="@author.Id"/></td>
                <td id="@tdId" width="20%">@author.Name</td>
                <td id="@tdId" width="60%">@author.Address</td>
            </tr>
        }
    </table>
    
    <div>
        <input type="button" id="Submit" value="Upate Authors."/>
    </div>
</div>
</body>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/Scripts/AddBookAuthor.js" type="text/javascript"></script>
}





