@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.AccessWarden
@using NHA.Website.Software.Services.FriendSystem
@inject UserManager<ApplicationUser> UserManager
@inject IFriendSystem FriendSystem
@inject IWarden Warden
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NHASoftware</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Themes/Dark/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actionbar.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.css" asp-append-version="true"/>
    
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" asp-append-version="true">
    
    <!--Jquery & bootstrap JS scripts!-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <!--Customized JS Scripts (Ours)!-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/Shared/common.js"></script>
    <script src="~/Scripts/Shared/NotifyNHA.js"></script>

    <script src="~/Scripts/Actionbar/Actionbar.js"></script>
    <script src="~/Scripts/ChatSystem/ChatSystem.js"></script>
    <script src="~/Scripts/FriendSystem/Social_FriendList_UI.js"></script>

    
    <!--External JS Packages!-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.js"></script>
    <script type="text/javascript" src='https://unpkg.com/spacetime'></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="icon" type="image/x-icon" href="~/images/TabLogo-32x32.png">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.js"></script>


</head>
<body>
<header>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary border-bottom box-shadow fixed-top">
        <div class="container-fluid"style="width: 100%; height: auto;">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item align-self-center"><a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    @if (Warden.IsAdmin(User))
                    {
                        <li class="nav-item align-self-center"><a class="nav-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a></li>
                    }
                    
                    <feature name="@FeatureFlags.AnimeEnabled">
                        <li class="nav-item align-self-center"><a class="nav-link" asp-area="" asp-controller="Anime" asp-action="Index">Anime Wiki</a></li>
                    </feature>
                    
                    <feature name="@FeatureFlags.ForumsEnabled">
                        <li class="nav-item align-self-center"><a class="nav-link" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a></li>
                    </feature>
                    
                    <feature name="@FeatureFlags.CryptoEnabled">
                        <li class="nav-item align-self-center"><a class="nav-link" asp-area="" asp-controller="Crypto" asp-action="Index">Crypto Stats</a></li>
                    </feature>
                    
                    @{
                        //Returns IEnumerable list of all pending FriendRequestDTOs
                        var requests = await FriendSystem.GetPendingFriendRequestsAsync(UserManager.GetUserId(User)!);

                        if (SignInManager.IsSignedIn(User))
                        {
                            <li class="align-self-center">
                                <button type="button" class="rounded-circle btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#friendRequestModal">
                                    <div class="col p-0 position-relative">
                                        <span id="FriendRequestCounter" class="text-danger bg-danger position-absolute bottom-25 start-75 rounded-circle h4 text-white ps-2 pe-2">@requests.Count()</span>
                                        <span><img src="~/Images/Bell_Icon.png" class="img-fluid"/></span>
                                    </div>
                                </button>
                            </li>
                        }
                    }

                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>


<!--Secondary Action Bar -->

@if (User.Identity!.IsAuthenticated)
{
    <div class="container-fluid ">
        <div class="row align-items-center bg-primary">
                <!--Friend Requests Modal-->
                <div class="modal fade" id="friendRequestModal" tabindex="-1" role="dialog" aria-labelledby="friendModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom">
                                <h5 class="modal-title" id="friendModalLabel">Friend Requests</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @foreach (var item in @requests)
                                {
                                    <div class="row border-bottom p-2" friend-request-id="@item.Id">
                                        <div class="col-2">
                                            <img src="~/ProfilePictures/@item.SenderUser!.ProfilePicturePath" class="img-fluid"/>
                                        </div>
                                        <p class="col-auto"><a href="~/Users/GetProfiles?userId=@item.SenderUser.Id">@item.SenderUser.DisplayName</a> wants to be your friend!</p>
                                        <div class="col-2">
                                            <button class="accept-friend-request-btn btn-dark col-auto" request-id="@item.Id">Accept</button>
                                            <button class="decline-friend-request-btn btn-dark col-auto" request-id="@item.Id">Decline</button>
                                        </div>
                                    </div>

                                }
                                @if (!requests.Any())
                                {
                                    <div>
                                        No more friend requests! Go add more people! :)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
}
@{
    var currentUser = await UserManager.GetUserAsync(User);
    var userIsAdmin = false;

    if (currentUser != null)
    {
        userIsAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
    }
}

<!-- Main body Content / Contains current user's id for common.js use -->
<div class="container-fluid" id="MainPageContentContainer" userId="@UserManager.GetUserId(User)" user-session-active="@SignInManager.IsSignedIn(User).ToString()" admin-user="@userIsAdmin.ToString()">
    <div class="row">
        <div id="LeftMenu" class="col-2 border-end border-primary">

        </div>
        <main role="main" class="col p-2 pt-2 mt-12">
            @RenderBody()
        </main>
        <div class="col-2 mt-12 bg-black" style="min-height: 75.5em;">
            @{ await Html.RenderPartialAsync("FriendList/_FriendListPartial");}
        </div>
    </div>
</div>

<div class="container-fluid fixed-bottom h-50 pe-none">
    <div class="row align-items-end fixed-bottom">
        <div class="col-2"></div>
        <div class="col row flex-row-reverse p-0" id="ChsContainer">
        </div>
        <div class="col-1"></div>
    </div>
</div>

<!--JS scripts-->
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
