@using NHA.Website.Software.Entities.Anime
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.RepositoryPatternFoundationals
@using NHA.Website.Software.Services.Sponsors
@inject IAdMaximizerService AdMaximizerService
@inject IUnitOfWork UnitOfWork

@{
    var featuredAnime = (await UnitOfWork.AnimePageRepository.FindAsync(a => a.Featured)).FirstOrDefault();
}

@{
    <div id="SponsorListUI" class="col position-fixed pb-5 mx-auto overflow-scroll w-inherit" style="height: 100%;">
    
        @if (featuredAnime is not null)
        {
            <div class="row m-auto pt-2 border-bottom border-black rounded-2">
                <div class="h3 text-center text-primary">Featured Anime</div>
            </div>
        
            <div class="row m-auto pt-1 pb-1 text-center">
                <a asp-action="AnimePageDetails" class="h5 text-body link-underline link-opacity-50-hover" asp-controller="Anime" asp-route-id="@featuredAnime.Id">@featuredAnime.AnimeName</a>
                <div class="">
                    <a class="row text-center m-auto rounded-2 interactable" asp-controller="Anime" asp-action="AnimePageDetails" asp-route-id="@featuredAnime.Id">
                        <img src="@featuredAnime.AnimeImageUrl" class="rounded-3 p-0" alt="@featuredAnime.AnimeName's cover photo" />
                    </a>
                </div>
                <div class="multiline-ellipsis" style="max-width: 350px;">
                    @featuredAnime.AnimeSummary + @featuredAnime.AnimeBackground
                </div>
                @if (@featuredAnime.AnimeGenres != null)
                {
                    var genres = @featuredAnime.AnimeGenres.Split(';');

                    for (int i = 0; i < genres.Length; i++)
                    {
                        if (i % 2 == 0)
                        {
                            <span class="badge text-bg-dark">@genres[i]</span>
                        }
                        else
                        {
                            <span class="badge text-bg-primary">@genres[i]</span>
                        }
                    }
                }
            </div>
        }


        <div class="row m-auto pt-2 border-bottom border-black rounded-2">
            <div class="h3 text-center text-primary">Sponsors</div>
        </div>

        @{
            var ads = await AdMaximizerService.GetBestAdsForUserAsync();

            foreach (var ad in ads)
            {

                if (ad.VideoUrl != null)
                {
                    <feature name="@FeatureFlags.SponsorAdsEnabled">
                        <div class="row m-auto pt-1 pb-1 text-center">
                            <div class="col rounded-2 overflow-hidden">
                                <iframe src="@ad.VideoUrl" title="YouTube video player" border="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </feature>
                }

                if (ad.ImageUrl != null)
                {
                    <div class="row m-auto pt-1 pb-1 text-center">
                        <iframe src=@ad.ImageUrl
                                title="Sponsor Video"
                                height="350px"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                }
            }
        }
        <div class="row m-auto pt-1 pb-1">
            <p>Huge shoutout to all of our sponsors for supporting the site, it wouldn't be possible without you.</p>
            <p>if you would like your channel, product, or video promoted or featured click <a class="link-primary">here</a>.</p>
        </div>
    </div>
}