@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.Social.PostBuilderService
@using NHA.Website.Software.Views.Shared.Social.ViewModels



@inject UserManager<ApplicationUser> _UserManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject IPostBuilder _PostBuilder

@{
    ViewData["Title"] = "Feed";
}
<head>
    <link rel="stylesheet" href="~/css/MainPostFeed.css">
</head>


@if (_SignInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col border-start border-end border-2 border-dark ps-5 pe-5">
                <div class="row text-center">
                    <div class="col">
                        <img src="~/Images/icons8-brain-32.png"/>
                    </div>
                    <h1 class="h3 text-primary">Speak Your Mind</h1>
                </div>
                <div class="row border m-auto" style="min-width: 100%; width: 0;">
                    <form id="BasicPostForm" method="post" enctype="multipart/form-data">
                        <div id="MainPostTextboxContainer" class="p-0">
                            @* <textarea id="MainPostTextbox" name="Summary"></textarea> *@
                            <input asp-for="Summary" id="MainPostTextbox" />
                        </div>
                    </form>
                </div>
                <div class="row p-2">
                    <button id="SubmitBtn" user="@_UserManager.GetUserId(User)" class="col btn btn-primary p-auto fs-2">
                        <div class="row align-content-center align-items-center m-auto">
                            <div class="col-auto text-center m-auto h5">
                                Upload
                            </div>
                        </div>
                    </button>
                    <feature name="@FeatureFlags.CustomizedPostsEnabled">
                        <button id="AddPhotos" user="@_UserManager.GetUserId(User)" class="col m-auto btn btn-dark p-auto fs-2" data-bs-toggle="modal" data-bs-target="#AddAsyncPostPhotosModal">
                            <div class="row align-content-center align-items-center m-auto">
                                <div class="col-auto text-center m-auto h5">
                                    Upload With Photos
                                </div>
                            </div>
                        </button>
                    </feature>
                </div>
                <div class="row p-0">
                    <span id="MainPostTextboxValidationMessage" class="text-primary" style="display: none;">Error Submitting Post.....</span>
                </div>
            </div>
        </div>

        <!--AddAsync Post Photos Modal-->
        <feature name="@FeatureFlags.CustomizedPostsEnabled">
            <div class="modal fade" id="AddPostPhotosModal" tabindex="-1" role="dialog" aria-labelledby="AddAsyncPostPhotosModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border border-primary border-2 shadow">
                        <div class="modal-header border-bottom justify-content-between">
                            <h5 class="modal-title text-primary" id="AddPostPhotosModalLabel">Personalize Post</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
                            <form id="CustomPostForm" method="post" enctype="multipart/form-data">
                                <div class="row mb-2">
                                    <div id="CustomPostTextboxContainer" class="p-0">
                                        <textarea id="CustomPostTextbox" name="Summary"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <input type="file" id="CustomPostImageFileInput" class="p-0" multiple="multiple" role="button" name="ImageFiles" />
                                </div>
                                <div class="row mb-2">
                                    <button id="SubmitCustomPostBtn" class="btn btn-dark rounded-2" value="Create" type="Submit">Upload Custom Post</button>
                                </div>
                                <div class="row p-0">
                                    <span id="CustomPostValidationMessage" style="display: none;" class="text-primary">Error Submitting Post.....</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </feature>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="HomeContainer col p-0">
            <div id="HomeContentFeed" class="ps-5 pe-5" user-session-active="@_SignInManager.IsSignedIn(User).ToString()" userId="@_UserManager.GetUserId(User)">
                <div id="ContentFeed" class="ps-5 pe-5">
                    @{
                        var posts = await _PostBuilder.RetrieveParentPosts();
                        await Html.RenderPartialAsync("Social/_MultiPost", new MultiPostVM(posts));
                    }
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    <script src="~/Scripts/Social_Feed/Gratitude.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.Input.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedAjaxCalls.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedUtility.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedImageLoader.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedLoader.js"></script>
}