@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@using NHA.Website.Software.Entities.Identity
@using NHA.Website.Software.FeatureManagement
@using NHA.Website.Software.Services.Social.PostBuilderService
@using NHA.Website.Software.Views.Shared.Social.ViewModels



@inject UserManager<ApplicationUser> _UserManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject IPostBuilder _PostBuilder

@{
    ViewData["Title"] = "NHA Home";
}
<head>
    <link rel="stylesheet" href="~/css/MainPostFeed.css">
</head>


@if (_SignInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col-1"></div>
            <div class="col border border-2 border-white p-3">
                <div class="row text-center">
                    <h1 class="h1">Create New Post</h1>
                </div>
                <div class="row">
                    <form id="BasicPostForm" method="post" enctype="multipart/form-data">
                        <div id="MainPostTextboxContainer" class="p-0">
                            <textarea id="MainPostTextbox" name="Summary"></textarea>
                            <span asp-validation-for="Summary" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="row p-0">
                    <button id="SubmitBtn" user="@_UserManager.GetUserId(User)" class="col btn-dark p-0 fs-2">Upload Post</button>
                    <feature name="@FeatureFlags.CustomizedPostsEnabled">
                        <button id="AddPhotos" user="@_UserManager.GetUserId(User)" class="col btn-dark p-0 fs-2" data-bs-toggle="modal" data-bs-target="#AddPostPhotosModal">Add Photos</button>
                    </feature>
                </div>
                <div class="row p-0">
                    <span id="MainPostTextboxValidationMessage" style="display: none; color: red">Error Submitting Post.....</span>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <!--Add Post Photos Modal-->
        <feature name="@FeatureFlags.CustomizedPostsEnabled">
            <div class="modal fade" id="AddPostPhotosModal" tabindex="-1" role="dialog" aria-labelledby="AddPostPhotosModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom">
                            <h5 class="modal-title" id="AddPostPhotosModalLabel">Customized Post</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @model NHA.Website.Software.ConsumableEntities.DTOs.PostDTO
                            <form id="CustomPostForm" method="post" enctype="multipart/form-data">
                                <div class="row mb-2">
                                    <div id="CustomPostTextboxContainer" class="p-0">
                                        <textarea id="CustomPostTextbox" name="Summary"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <input type="file" id="CustomPostImageFileInput" class="p-0" multiple="multiple" role="button" name="ImageFiles" />
                                </div>
                                <div class="row mb-2">
                                    <button id="SubmitCustomPostBtn" class="btn btn-primary" value="Create" type="Submit">Upload Custom Post</button>
                                </div>
                                <div class="row p-0">
                                    <span id="CustomPostValidationMessage" style="display: none; color: red">Error Submitting Post.....</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </feature>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="HomeContainer col p-0">
            <div id="HomeContentFeed" user-session-active="@_SignInManager.IsSignedIn(User).ToString()" userId="@_UserManager.GetUserId(User)">
                <div id="ContentFeed">
                    @{
                        var posts = await _PostBuilder.RetrieveParentPosts();
                        await Html.RenderPartialAsync("Social/_MultiPost", new MultiPostVM(posts));
                    }
                </div>
            </div>
        </div>
        <div class="col-1"></div>

    </div>

</div>

@section Scripts {
    <script src="~/Scripts/Social_Feed/Gratitude.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.Input.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedAjaxCalls.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedUtility.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeed.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedImageLoader.js"></script>
    <script src="~/Scripts/Social_Feed/ContentFeedLoader.js"></script>
}